<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chronica | @ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icons/css/flag-icons.min.css">
    <link rel="shortcut icon" href="/img/Favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Chronica.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">

                <div class="logo-container">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="/img/Cronicaslogo1.png" alt="Logo do site" id="logo" />
                    </a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Alternar navegação">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Home"
                                asp-action="Index">Campanhas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Home"
                                asp-action="Index">Agentes</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Home"
                                asp-action="Index">Ameaças</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Universe
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Habilidades</a></li>
                                <li><a class="dropdown-item" href="#">Itens</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Familias & Clãns</a></li>
                                <li><a class="dropdown-item" href="#">Raças</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Home"
                                asp-action="Index">Classes</em></a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="https://img.freepik.com/fotos-gratis/ilustracao-de-olhos-de-anime_23-2151660487.jpg?semt=ais_hybrid&w=740"
                                alt="Foto de Perfil">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="Perfil">Perfil</a></li>
                            <li><a class="dropdown-item" asp-controller="Usuario"
                                    asp-action="Configuracoes">Configurações</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="cont">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Chronica - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    
    <div class="bussola">
        <a href="#topo">
            <img src="/img/Favicon.png" alt="Guia">
        </a>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
