@{
    ViewData["Title"] = "Modificadores";
}

@section Styles {
    <link rel="stylesheet" href="/css/UniverseTipos.css" asp-append-version="true" />
}

@section Scripts {
    <script src="/js/UniverseTipos.js" asp-append-version="true"></script>
}

<section class="conxtaner">
    <h2>@ViewData["Title"]</h2>

    <div class="filter-menu">
        <div class="filter-option active" data-filter="Todos">Todos</div>
        <div class="filter-option" data-filter="Vantagens">Vantagens</div>
        <div class="filter-option" data-filter="Desvantagens">Desvantagens</div>
    </div>

    <div class="item-list" id="itemList">

        <div class="header-habilidades">
            <strong>Todos 2/200</strong>
            <button class="btn-adicionar">Adicionar</button>
        </div>

        <div class="Universe-card" data-type="Vantagens" data-name="Adaptavel">
            <details>
                <summary class="Universe-topo">
                    <span class="seta">&#9660;</span>
                    <span><strong>Adaptável</strong></span>
                    <div class="button-group">
                        <button class="btn-acao">Duplicar</button>
                        <button class="btn-acao">Deletar</button>
                    </div>
                </summary>
                <div class="Universe-detalhes">
                    <p>Por algum motivo seu corpo se adapta mais rápido que o comum a situações extremas. Caso receba
                        dano de um só tipo por no mínimo três turnos, você receberá redução de dano igual ao seu valor
                        de constituição até o fim do combate. (-3)</p>
                </div>
            </details>
        </div>

        <div class="Universe-card" data-type="Desvantagens" data-name="Egoista">
            <details>
                <summary class="Universe-topo">
                    <span class="seta">&#9660;</span>
                    <span><strong>Egoísta</strong></span>
                    <div class="button-group">
                        <button class="btn-acao">Duplicar</button>
                        <button class="btn-acao">Deletar</button>
                    </div>
                </summary>
                <div class="Universe-detalhes">
                    <p>Você é egoísta. Sempre que estiver em situações de risco ou utilizando recursos que seus aliados
                        não
                        possuam, você nunca irá compartilhar. Além disso, você sempre tentará fugir independentemente da
                        situação caso esteja com ferimentos graves. (-2)</p>
                </div>
            </details>
        </div>

        <div class="Universe-card" data-type="Vantagens" data-name="Sorte Inata">
            <details>
                <summary class="Universe-topo">
                    <span class="seta">&#9660;</span>
                    <span><strong>Sorte Inata</strong></span>
                    <div class="button-group">
                        <button class="btn-acao">Duplicar</button>
                        <button class="btn-acao">Deletar</button>
                    </div>
                </summary>
                <div class="Universe-detalhes">
                    <p>A sorte parece estar sempre ao seu lado. Uma vez por sessão, você pode rolar novamente um dado
                        que
                        falhou. (+1)</p>
                </div>
            </details>
        </div>

        <div class="Universe-card" data-type="Desvantagens" data-name="Alergia a Gatos">
            <details>
                <summary class="Universe-topo">
                    <span class="seta">&#9660;</span>
                    <span><strong>Alergia a Gatos</strong></span>
                    <div class="button-group">
                        <button class="btn-acao">Duplicar</button>
                        <button class="btn-acao">Deletar</button>
                    </div>
                </summary>
                <div class="Universe-detalhes">
                    <p>Você tem uma alergia severa a gatos. A proximidade com gatos pode causar espirros, coceira e, em
                        casos graves, dificuldade para respirar. (-1)</p>
                </div>
            </details>
        </div>

    </div>
</section>