@{
    ViewData["Title"] = "Classes";
}

@section Styles {
    <link rel="stylesheet" href="/css/ameacas.css" asp-append-version="false" />
}

@section Scripts {
    <script src="" </script>
}

        <Section class="Corpo">
            <div class="cont">
                <div class="headeriti">
                    <h1>@ViewData["Title"]</h1>
                    <div class="search-bar">
                        <a class="Buttom" asp-controller="" asp-action="" >+ Nova Classe</a>
                    </div>
                </div>

                <div class="monster-list" id="monsterList">

                    <div class="monster-item">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL6TvtUmbL1BZ9ov1FRSPMu2pilBRQ8hgv_g&s" alt="GrauA">
                            <div class="monster-details">
                                <h3>Grau Especial</h3>
                            </div>
                            <button class="ficha-button">Duplicar</button>
                            <button class="ficha-button">Deletar</button>
                    </div>

                    <div class="monster-item">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL6TvtUmbL1BZ9ov1FRSPMu2pilBRQ8hgv_g&s" alt="Jogõ">
                            <div class="monster-details">
                                <h3>Grau A</h3>
                            </div>
                            <button class="ficha-button">Duplicar</button>
                            <button class="ficha-button">Deletar</button>
                    </div>

                    <div class="monster-item">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL6TvtUmbL1BZ9ov1FRSPMu2pilBRQ8hgv_g&s" alt="Semi grau A">
                            <div class="monster-details">
                                <h3>Semi Grau A</h3>
                            </div>
                            <button class="ficha-button">Duplicar</button>
                            <button class="ficha-button">Deletar</button>
                    </div>

                    <div class="monster-item">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL6TvtUmbL1BZ9ov1FRSPMu2pilBRQ8hgv_g&s" alt="Grau B">
                            <div class="monster-details">
                                <h3>Grau B</h3>
                            </div>
                            <button class="ficha-button">Duplicar</button>
                            <button class="ficha-button">Deletar</button>
                    </div>

                    <div class="monster-item">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL6TvtUmbL1BZ9ov1FRSPMu2pilBRQ8hgv_g&s" alt="Grau C">
                            <div class="monster-details">
                                <h3>Grau C</h3>
                            </div>
                            <button class="ficha-button">Duplicar</button>
                            <button class="ficha-button">Deletar</button>
                    </div>


                </div>
        </Section >
