@{
    ViewData["Title"] = "Manual do mestre";
}

@section Styles {
    <link rel="stylesheet" href="/css/ameacas.css" asp-append-version="false" />
}

@section Scripts {
    <script src="" </script>
}

        <Section class="Corpo">
            <div class="cont">
                <div class="headeriti">
                    <h1>@ViewData["Title"] 2/15</h1>
                    <div class="search-bar">
                        <a class="Buttom" asp-controller="" asp-action="" >+ Novo Manual</a>
                    </div>
                </div>

                <div class="monster-list" id="monsterList">

                    <div class="monster-item">
                        <img src="https://criticalhits.com.br/wp-content/uploads/2025/04/20240104-hakarithumbnail-1-696x348.jpg" alt="Manual1">
                            <div class="monster-details">
                                <h3>Era das Maldições</h3>
                                <p>15 Paginas</p>
                            </div>
                            <button class="ficha-button">Visualisar</button>
                    </div>

                     <div class="monster-item">
                        <img src="https://upload.wikimedia.org/wikipedia/pt/4/4b/Ordem_Paranormal_-_Cellbit.png" alt="Manual2">
                            <div class="monster-details">
                                <h3>Ordem paranormal - Regras</h3>
                                <p>30 Paginas</p>
                            </div>
                            <button class="ficha-button">Visualisar</button>
                    </div>

                   
                    
                </div>
        </Section >
