@{
    ViewData["Title"] = "Pericias";
}

@section Styles {
    <link rel="stylesheet" href="/css/pericias.css" asp-append-version="true" />
}

@section Scripts {
    <script src="/js/Pericias.js" </script>
}

        <section class="conxtaner">
            <div class="aba-conteudo ativa">
                <div class="header-habilidades">
                    <h2>@ViewData["Title"]</h2>
                    <button class="btn-adicionar">Adicionar</button>
                </div>                    
                
                <strong>Todos Itens 1/200</strong>

                <div class="habilidade-card">
                    <div class="habilidade-topo" onclick="toggleDetalhes(this)">
                        <span class="seta">&#9660;</span>
                        <span><strong>Nova Habilidade</strong></span>
                        <button class="btn-compartilhar">COMPARTILHAR</button>
                    </div>
                    <div class="habilidade-detalhes" style="display: none;">
                        <p><strong>Atributo necessário:</strong> Inteligência</p>
                        <p><strong>Descrição:</strong> Permite ao usuário lançar uma bola de fogo causando 3d6 de dano.</p>
                    </div>
                </div>

                <div class="habilidade-card">
                    <div class="habilidade-topo" onclick="toggleDetalhes(this)">
                        <span class="seta">&#9660;</span>
                        <span><strong>Outra Habilidade</strong></span>
                        <button class="btn-compartilhar">COMPARTILHAR</button>
                    </div>
                    <div class="habilidade-detalhes" style="display: none;">
                        <p><strong>Atributo necessário:</strong> Força</p>
                        <p><strong>Descrição:</strong> Permite ao usuário levantar objetos pesados.</p>
                    </div>
                </div>

            </div>
        </section>
