@{
    ViewData["Title"] = "Itens";
}

@section Styles {
    <link rel="stylesheet" href="/css/itens.css" asp-append-version="true" />
}

@section Scripts {
    <script src="/js/itens.js" </script>
}

        <section class="conxtaner">
     <!-- Menu de Abas -->
            <div class="menu">
                <span class="aba" data-aba="Selos">Selos e Talismãs</span>
                <span class="aba" data-aba="objetosAmald">Objetos Amaldiçoados </span>
                <span class="aba" data-aba="Reliquias">Relíquias e Artefatos Antigos</span>
                <span class="aba" data-aba="itens">Itens Rituais</span>
            </div>

            <div id="abas-conteudo">
                <div class="aba-conteudo" id="aba-Selos">
                    <h2>Selos e Talismãs</h2>
                    <p>Lista de ameaças aqui...</p>
                </div>

                <div class="aba-conteudo" id="aba-objetosAmald">
                    <div class="header-habilidades">
                        <strong>Objetos Amaldiçoados 1/50</strong>
                        <button class="btn-adicionar">Adicionar</button>
                    </div>

                    <div class="habilidade-card">
                        <div class="habilidade-topo" onclick="toggleDetalhes(this)">
                            <span class="seta">&#9660;</span>
                            <span><strong>Dedos de Sukuna</strong></span>
                            <button class="btn-compartilhar">COMPARTILHAR</button>
                        </div>
                        <div class="habilidade-detalhes" style="display: none;">
                            <p><strong>Descrição:</strong> Um fragmento de dedo humano mumificado, escuro e retorcido, que emana uma energia amaldiçoada fria e densa ao toque. É um objeto antigo e repulsivo.
                                Efeito (ao ser consumido): Concede um imenso poder amaldiçoado ao usuário, aumentando força e resistência. No entanto, o espírito do Rei das Maldições, Sukuna, tentará dominar o corpo do hospedeiro, tornando-se um risco existencial.</p>
                        </div>
                    </div>

                </div>

                <div class="aba-conteudo" id="aba-Reliquias">
                    <h2>Rituais</h2>
                    <p>Conteúdo de rituais aqui...</p>
                </div>

                <div class="aba-conteudo" id="aba-itens">
                    <h2>Itens</h2>
                    <p>Inventário ou lista de itens aqui...</p>
                </div>
            </div>
        </section>

