@{
    ViewData["Title"] = "Origens";
}

@section Styles {
    <link rel="stylesheet" href="/css/Universe.css" asp-append-version="true" />
}

@section Scripts {
    <script src="/js/Universe.js" </script>
}

        <section class="conxtaner">
            <div class="aba-conteudo ativa">

                <div class="header-habilidades">
                    <h2>@ViewData["Title"]</h2>
                    <button class="btn-adicionar">Adicionar</button>
                </div>    

                <div class="Cararcere">
                    <strong>Todos as origens</aside> 2/200</strong>
                </div>

                <div class="habilidade-card">
                    <div class="habilidade-topo" onclick="toggleDetalhes(this)">
                        <span class="seta">&#9660;</span>
                        <span><strong>Clã Gojo</strong></span>
                        <button class="btn-compartilhar">COMPARTILHAR</button>
                    </div>
                    <div class="habilidade-detalhes" style="display: none;">
                        <p><strong>Descrição:</strong> Descende de Michizane Sugawara , um lendário feiticeiro de jujutsu da Era Heian
que se tornou um dos Três Grandes Espíritos Vingativos do Japão após a morte.
Atualmente está no topo da hierarquia do jujutsu e mantém o equilíbrio de poder.
</p>
                    </div>
                </div>

                <div class="habilidade-card">
                    <div class="habilidade-topo" onclick="toggleDetalhes(this)">
                        <span class="seta">&#9660;</span>
                        <span><strong>Clã Zennin</strong></span>
                        <button class="btn-compartilhar">COMPARTILHAR</button>
                    </div>
                    <div class="habilidade-detalhes" style="display: none;">
                        <p><strong>Descrição:</strong>O Clã Zenin é conhecido por fazer parte dos Três Grandes Clãs, e por ter
conquistado uma posição sólida na história do jujutsu com suas grandes conquistas. Eles
têm xamãs com excelentes habilidades e técnicas amaldiçoadas incríveis. Possuem o
hábito de valorizar as técnicas amaldiçoadas acima de tudo e rejeitam ou discriminar
qualquer pessoa que não possa controlar a energia amaldiçoada ou que não tenha uma
técnica própria, pois esperam que seus membros sejam "perfeitos", mesmo que sejam
parentes consanguíneos. mas alguns casos raros acabam nascendo com nada de energia
amaldiçoada.
</p>
                    </div>
                </div>

            </div>
        </section>
