@{
  ViewData["Title"] = "Home";
}

@section Styles {
  <link rel="stylesheet" href="/css/index.css" asp-append-version="true" />
}

@section Scripts {
  <script src="/js/index.js"></script>
}

<section class="home">
  <div class="contn">
    <div class="carrossel-container">
      <div class="carrossel-slide">
        <img src="https://blog.coleco.com.br/wp-content/uploads/2023/05/op_m.jpg" alt="Imagem 1">
        <div class="conteudo-slide">
          <h2>Libere o seu mundo マンゴー</h2>
          <p>Crie sua própria história, compartilhe sua alma. Bem-vindo ao Japão do seu universo.</p>
          <a href="#" class="botao-slide">Ver mais</a>
        </div>
      </div>

      <div class="carrossel-slide">
        <img
          src="https://images.ctfassets.net/swt2dsco9mfe/3WePejQtg6J2tTFkZpPHCT/903b0c0021602c6083e1eacb3e955392/dnd_home_ddb_lorecard.png?q=70&w=1342"
          alt="Imagem 2">
        <div class="conteudo-slide">
          <h2>Suzume: Portas do Destino</h2>
          <p>Uma jornada emocionante onde Suzume deve fechar portas místicas por todo o Japão, enfrentando a perda e
            descobrindo coragem em um mundo lindamente animado.</p>
          <a href="#" class="botao-slide">Ver mais</a>
        </div>
      </div>

      <div class="carrossel-slide">
        <img
          src="https://wallpapers-clan.com/wp-content/uploads/2024/04/sukuna-red-jujutsu-kaisen-desktop-wallpaper-preview.jpg"
          alt="Imagem 3">
        <div class="conteudo-slide">
          <h2>鳥山明 Akira</h2>
          <p>Criador de Dragon Ball, Akira Toriyama transformou o mundo dos mangás com seu estilo artístico icônico e
            histórias inesquecíveis cheias de ação, humor e emoção. Seu legado continua a inspirar gerações.</p>
          <a href="#" class="botao-slide">Ver mais</a>
        </div>
      </div>

      <div class="indicadores">
        <span class="indicador" onclick="slideAtual(1)"></span>
        <span class="indicador" onclick="slideAtual(2)"></span>
        <span class="indicador" onclick="slideAtual(3)"></span>
      </div>
    </div>


    <div class="Desc">
      <section class="left-panel">
        <h1>Fichas Digitais</h1>
        <p>Acesso rápido e simplificado a todas as informações de sua ficha. Faça a rolagem de perícias, atributos e
          ataques com um <strong>único clique</strong>. Concentre-se menos na matemática e foque no que realmente
          importa
          que é se divertir ao lado de seus amigos!</p>
        <button class="create-sheet-btn">Criar ficha</button>
      </section>

      <section class="right-panel">
        <div class="character-sheet-preview">
          <img src="https://imgv2-2-f.scribdassets.com/img/document/525047100/original/7360b207d2/1?v=1"
            alt="Character Sheet Preview" class="sheet-placeholder">
        </div>
      </section>
    </div>
</section>
