.conxtaner {
    border-radius: 8px;
    margin-inline: 10%;
    padding: 70px 90px;
    box-sizing: border-box;
}

.conxtaner h2{
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  font-size: 400%;
}

.menu {
  display: flex;
  gap: 30px;
  font-weight: bold;
  border-bottom: 2px solid #333;
  margin-bottom: 20px;
}

.aba {
  color: #888;;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s;
}

.aba:hover {
  color: #eee;
}

.aba.ativa {
  color: var(--Cor_Primaria);
  border-bottom: 2px solid var(--Cor_Primaria);
}

.aba-conteudo {
  margin-top: 4%;
  display: none;
}

.aba-conteudo.ativa {
  display: block;
}

.header-habilidades {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: white;
}

.btn-adicionar {
  background-color: var(--Cor_Primaria);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.buscar-habilidade {
  position: relative;
  margin-bottom: 15px;
}

.buscar-habilidade input {
  width: 100%;
  padding: 10px 35px 10px 40px;
  border-radius: 5px;
  border: none;
  background-color: #1e1e1e;
  color: white;
}

.icone-busca {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 18px;
  color: #ccc;
}

.habilidade-card {
  background-color: #1e1e1e;
  padding: 10px 15px;
  border-radius: 6px;
  margin-bottom: 10px;
  color: white;
}

.habilidade-topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
}

.seta {
  font-size: 18px;
  color: var(--Cor_Primaria);
}

.btn-compartilhar {
  background-color: transparent;
  color: white;
  border: 1px solid var(--Cor_Primaria);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.habilidade-detalhes {
  margin-top: 10px;
  background-color: #292929;
  padding: 10px;
  border-radius: 6px;
}
