@{
    ViewData["Title"] = "Raças";
}

@section Styles {
    <link rel="stylesheet" href="/css/Universe.css" asp-append-version="true" />
}

@section Scripts {
    <script src="/js/Universe.js" </script>
}

        <section class="conxtaner">
            <div class="aba-conteudo ativa">

                <div class="header-habilidades">
                    <h2>@ViewData["Title"]</h2>
                    <button class="btn-adicionar">Adicionar</button>
                </div>    

                <div class="Cararcere">
                    <strong>Todos as Raças 2/200</strong>
                </div>

                <div class="habilidade-card">
                    <div class="habilidade-topo" onclick="toggleDetalhes(this)">
                        <span class="seta">&#9660;</span>
                        <span><strong>Humano</strong></span>
                        <button class="btn-compartilhar">COMPARTILHAR</button>
                    </div>
                    <div class="habilidade-detalhes" style="display: none;">
                        <p><strong>Descrição:</strong>  São humanos comuns, assim como qualquer outro, não possuem nada de
especial. Apenas são pessoas que conviveram em sociedade normalmente. Ou nasceram
como feiticeiros.</p>
                    </div>
                </div>

                <div class="habilidade-card">
                    <div class="habilidade-topo" onclick="toggleDetalhes(this)">
                        <span class="seta">&#9660;</span>
                        <span><strong>Fetos Amaldiçoados</strong></span>
                        <button class="btn-compartilhar">COMPARTILHAR</button>
                    </div>
                    <div class="habilidade-detalhes" style="display: none;">
                        <p><strong>Descrição:</strong> Fetos amaldiçoados são derivados do experimento de Noritoshi
Kamo, basicamente são humanos, porém com uma disponibilidade física superior à raça
humana.
</p>
                    </div>
                </div>

            </div>
        </section>
